<header class="relative flex items-center justify-between px-6 py-4 h-24 text-black font-[Quicksand] shadow-md">

  <!-- div für blur bg -->
  <div class="absolute inset-0 bg-mauve-100/25 blur-sm"></div>

  <!-- div für content -->
  <div class="relative flex items-center justify-between w-full">

    <!-- Left: Logo + Title -->
    <div class="flex items-center gap-3">

      <img
        src="/book.png"
        alt="Logo"
        class="size-24 object-contain"
      />

      <div class="text-2xl font-bold tracking-wide">
        CoursePortal
      </div>

    </div>

    <nav class="flex pr-4">
      <a routerLink="/add">
        <img
        src="/add.png"
        alt="Plus"
        class="size-12 object-contain"
        />
      </a>
    </nav>

  </div>

</header>