
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Quicksand', sans-serif;
  background-color: white;
}

@layer base {
  html {
    font-family: 'Quicksand', sans-serif;
  }
}